<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="MyTests.Listener" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="ExtentReportsAndScreenShots.TestCases">
				<methods>
					<include name="TestGoogle"></include>
					<include name="TestOrangehrm"></include>
					<include name=" Testfacebook"></include>
				</methods>
			</class>
		</classes>

	</test> <!-- Test -->
</suite> <!-- Suite -->